<link rel="stylesheet" href="/css/home.css">
<div id="home-container">
    <h1 class="app-header">Web Crawler - Home</h1>
    <div class="input-container">
        <input id="input-tag" class="input-el" type="text" placeholder="Enter the tag...">
        <button class="input-el btn" onclick="searchTags()">SEARCH</button>
        <button class="input-el btn" onclick="showHistory()">HISTORY</button>
    </div>
    <div id="search-results-container" class="flex-col-start">
    </div>
    <div id="search-history-container" class="flex-col-start">
        
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/js/home.js" type="text/javascript"></script>