<link rel="stylesheet" href="/css/home.css">
<div id="home-container">
    <h1 class="app-header">Web Crawler - Home</h1>
    <div class="input-container">
        <input id="input-tag" class="input-el" type="text" placeholder="Enter the tag...">
        <button class="input-el" onclick="searchTags()">Search</button>
    </div>
    <div id="searh-results-container" class="flex-col-start">
        <div id="tag-link-container" class="flex-row-start">
        </div>
        <div id="article-list-container" class="flex-col-start">
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/js/home.js" type="text/javascript"></script>