#home-container{
    background-color: #8A7CAA;
    font-family: sans-serif;
    color: black;

    .single-article-container{
        border-radius: 10px;
    }

    .input-el{
        margin: 1rem 3rem 1rem 3rem;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    }
    
    .tag-link-text{
        color: black;
        font-weight: 600;
        text-decoration: none;
    }

    .tag-link-item{
        cursor: pointer;
    }

    .item{
        text-decoration: none;
        margin-left: 3rem;
    }

    .btn{
        background-color: #E9B5AC;
        color: black;
        border: none;
        padding: 0.25rem 2rem 0.25rem 2rem;
        font-weight: 600;
        border-radius: 12px;
        outline: none;
    }

    .single-article-container{
        margin: 1rem;
        border: 1px solid black;
        background-color: #E9B5AC;
        color: black;
        padding: 1rem;
        width: 95%;
        min-width: 95%;
    }

    .app-header{
        text-align: center;
        padding: 2rem 1rem 1rem 1rem;
        margin: 0;
    }

    .input-container{
        display: flex;
        flex-direction: row;
        justify-content: center;

        #input-tag{
            border-radius: 25px;
            border: none;
            outline: none;
            padding: 0.5rem 0.75rem 0.5rem 0.75rem;
            background-color: #E9B5AC;
            color: black;
        }
        
    }

    #search-results-container{
        .heading{
            margin: 1rem 1rem 1rem 1rem;
        }

        #tag-link-container{
            margin: auto;

            .tag-link-item{
                padding: 0.5rem;
                margin: 1rem;
                background-color: #E9B5AC;
                border-radius: 10px;
                border: 1px solid black;
            }

        }
        #article-list-container{
            
        }
    }
    #search-history-container{
        .single-item-container{
            border-radius: 10px;
        }
    }
}

// General
.flex-col-start{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-row-start{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.flex-row-spc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grow{
    flex-grow: 1;
}

