#home-container {
  margin: 0rem 1rem 0rem 1rem;
  background-color: lightblue;
  font-family: sans-serif; }
  #home-container .app-header {
    text-align: center;
    margin: 0rem 1rem 1rem 1rem; }
  #home-container .input-container {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #home-container .input-container .input-el {
      margin: 1rem;
      padding: 0.25rem 0.5rem 0.25rem 0.5rem; }
  #home-container #searh-results-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    #home-container #searh-results-container #tag-link-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: auto; }
      #home-container #searh-results-container #tag-link-container .tag-link-item {
        padding: 0.5rem;
        border: 1px solid black;
        margin: 1rem; }
        #home-container #searh-results-container #tag-link-container .tag-link-item .tag-link-text {
          text-decoration: none; }
