#home-container {
  background-color: #8A7CAA;
  font-family: sans-serif;
  color: black; }
  #home-container .single-article-container {
    border-radius: 10px; }
  #home-container .input-el {
    margin: 1rem 3rem 1rem 3rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem; }
  #home-container .tag-link-text {
    color: black;
    font-weight: 600;
    text-decoration: none; }
  #home-container .tag-link-item {
    cursor: pointer; }
  #home-container .item {
    text-decoration: none;
    margin-left: 3rem; }
  #home-container .btn {
    background-color: #E9B5AC;
    color: black;
    border: none;
    padding: 0.25rem 2rem 0.25rem 2rem;
    font-weight: 600;
    border-radius: 12px;
    outline: none; }
  #home-container .single-article-container {
    margin: 1rem;
    border: 1px solid black;
    background-color: #E9B5AC;
    color: black;
    padding: 1rem;
    width: 95%;
    min-width: 95%; }
  #home-container .app-header {
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
    margin: 0; }
  #home-container #input-container {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #home-container #input-container #input-tag {
      border-radius: 25px;
      border: none;
      outline: none;
      padding: 0.5rem 0.75rem 0.5rem 0.75rem;
      background-color: #E9B5AC;
      color: black; }
  #home-container #search-results-container .heading {
    margin: 1rem 1rem 1rem 1rem; }
  #home-container #search-results-container #tag-link-container {
    margin: auto; }
    #home-container #search-results-container #tag-link-container .tag-link-item {
      padding: 0.5rem;
      margin: 1rem;
      background-color: #E9B5AC;
      border-radius: 10px;
      border: 1px solid black; }
  #home-container #search-history-container .single-item-container {
    border-radius: 10px; }

.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: start; }

.flex-row-spc {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.grow {
  flex-grow: 1; }
